#ctn{
    margin:0 auto;
    width:100%;
    max-width:400px;
    border:1px solid #888888;
    padding:5px;
    background-color:#DDDDDD;
}
#ctn table{
    width:100%;
}
#ctn button{
    width:100%;
}
#ctn input{
    width:100%;
} 
