

#ctn{
    margin:0 auto;
    width:100%;
    max-width:800px;
    border:1px solid #888888;
    padding:5px;
    background-color:#DDDDDD;
}

#ctn table{
    width:100%;
    font-size:50px;
}
#ctn button{
    width:100%;
    font-size:50px;
}
#ctn input{
    width:100%;
    font-size:50px;
}

body{
    background-repeat: no-repeat;
    font-size: 50pt;
}
.pictcha{
    margin:10 auto;
    width:100%;
    max-width:350px;
    height:110;
    border:1px solid #888888;
    padding:5px;
    background-image:url(./img/back.gif);
    background-color:black;
}
