<html>
  <head>
    <title>&Uuml;berweisung</title>
<link rel="stylesheet" type="text/css" href="static/style.css" id="stil">
  </head>
  <body>
    <div id="ctn">
     <form id="Apfel" method="post" action="return.html">
       <input type="hidden" name="vonkto" value="{{kto}}">
       <table>
	<tr><td>KontoNr.:</td><td>{{kto}}</td></tr>
	<tr><td>pin:</td><td><input name="pin" type="number" min="1000" max="9999"></td></tr>
	
	<tr><td>absenden:</td><td><button type="submit" >OK</button></td></tr>
	</table>
      </form>
    </div>
  </body>
</html>
