<html>
  <head>
    <title>&Uuml;berweisung</title>
<link rel="stylesheet" type="text/css" href="static/style.css" id="stil">
  </head>
  <body>
    <div id="ctn">
     <form id="Apfel" method="post" action="return.html">
       <input type="hidden" name="vonkto" value="{{vonkto}}">
       <input type="hidden" name="ankto" value="{{ankto}}">
       <input type="hidden" name="betrag" value="{{betrag}}">
       <input type="hidden" name="tid" value="{{tid}}">
       <table>
	<tr><td>von KontoNr.:</td><td>{{vonkto}}</td></tr>
	<tr><td>an:</td><td>{{ankto}}</td></tr>
	<tr><td>betrag</td><td>{{betrag}}</td></tr>
	<tr><td>tid</td><td>{{tid}}</td></tr>
	<tr><td>pin:</td><td><input name="pin" type="password" min="1000" max="9999"></td></tr>
	
	<tr><td>absenden:</td><td><button type="submit" >OK</button></td></tr>
	</table>
      </form>
      </div>
      <a href="/impressum.html" class="footer">Impressum</a>
  </body>
</html>
